.singleSenatorContainer{
  text-align: center;


}

.app{
  background-color: grey; 
  height: 500px

}


/* trades table */

:root{
  --cellWidth: 150px; 
}

#tradesTableHeaders{
  display: table;
    /* width: 500px; Optional */

    table-layout: fixed; /*Optional*/
    border-spacing: 10px; /*Optional*/
    /* background-color: red; Optional */
}
.tradeTableHeader{
  display: table-cell;
  width:var(--cellWidth); 
}


.singleTableRow{
  display: table;
  table-layout: fixed; /*Optional*/

}

.tradesTableCell{
  width:var(--cellWidth); 
  display: table-cell;
}

#shadedRow{
  background-color: rgb(158, 153, 153);
}


/* row expansion  */

#expansionDiv{
display: grid; 
grid-template-columns: 750px 300px;
grid-template-rows: 250px 100px;
margin-top: 1%;
margin-bottom: 1%;
  
}

#stockGraphContainer{
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  /* background-color: aqua; */
}

#criticalInfoCard{
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
  background-color: green;

}

#toggleContainer{

  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 2;
  background-color: yellow;

}

  /* toggle in label designing */
  .toggle {
    position : relative ;
    display : inline-block;
    width : 100px;
    height : 52px;
    background-color: red;
    border-radius: 30px;
    border: 2px solid gray;
}
       
/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
    top: 1px;
    left: 1px;
    transition:  all 0.5s;
}
       
/* Toggle text */
#toggleExplainerText {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    top: 40px; 
}
       
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    left : 49px;
}
       
/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background-color: green;
}
       
/* Checkbox vanished */
.checkbox {
    display : none;
}






