:root{
  --darkBlue: #2979A3; 
  --lightBlue:  #48B7F0; 
  --myOrange: #F07F55; 
  --myGreen: #49A35E; 
  --backgroundBlue:rgba(72, 184, 240, 0.213); 
  --lightGrey:  #c7ced2; 

}


.singleSenatorContainer{
  text-align: center;


}

.app{
  /* background-color: grey;  */
  height: 500px

}


/* trades table */

:root{
  /* --cellWidth: 165px;  */
  --cellWidth: 175px; 
  --headerWidth: 170px; 
}

#allTradeTableRows{
  margin-left: 2em; 
}

#tradesTableHeaders{
    table-layout: fixed; 
    margin-left: 2em; 
    margin-bottom: 1em;
    display: flex; 
    flex-direction: row;

    /* position: fixed;
    overflow-y: scroll; */

    position: sticky; 
    top: 0; 


}
.tradeTableHeader{
  display: table-cell;
  width:var(--cellWidth); 
  padding-top: 2px;
  /* background-color: aquamarine; */
  /* border: 1px solid black; */
  /* --darkBlue: #2979A3; 
  --lightBlue:  #48B7F0;  */

  background-color: var(--lightBlue);
  /* background-color: var(--darkBlue); */
  /* border-top: 2px solid black; */
  border-bottom: 2px solid black;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 3px;
  padding-bottom: 3px;


}

/* 
.headerTextContainer{


} */

.headerOrderBtn{
  margin-left: 0.5em;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid var(--lightGrey);;
}

.btnDescending{
  transition: 0.5s; 
  transform: rotate(180deg);
}



.focusedColumn{
  transition:  0.5s; 
  border-bottom: 20px solid var(--darkBlue);;
}

.singleTableRow{
  display: table;
  table-layout: fixed; 

}

.tradesTableCell{
  width:var(--cellWidth); 
  display: table-cell;
  text-align: center;
  border-top: 1px solid black; 
  padding-top: 2px; 
  padding-bottom: 2px; 

}

#shadedRow{
  transition: ease-in-out 0.3s; 
  background-color: var( --lightBlue);
  border-bottom: 1.5px solid black;
  border-top: 1.5px solid black;

}
















