


#senatorProfileOutter{
    display: grid; 
    /* grid-template-rows: 40px 300px 200px; */
    grid-template-rows: 40px 300px ; 
    /* grid-template-columns: 750px 350px; */
    margin-top: 1%;
    margin-bottom: 2%;
}


#senatorNameTitleContainer{
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: aqua;
}

/* 
#senatorNameTitle{

} */

#allCardsContainer{
    grid-column-start: 1;
    grid-column-end: 2;
    /* background-color: teal; */
    display: flex;
    flex-direction: row;
    padding-left: 2em;
    margin-top: 1em;

    }

.senatorProfileCard{
    width: 16em ;
    margin-left: 1em; 
    border: 1px solid black

}

#tradesBarGraphContainer{
    /* background-color: blue; */
    border: 1px solid black; 
    margin-top: 1em; 
    width: 50em; 
    margin-left: 1em; 

}

#senatorInfoCardContainer{

    /* font-size: 0.75em; */

    /* background-color: red */
    width: 18em; 
    margin-left: -1em; 
    padding-left: 1em;

}


#overallAlphaCardContainer{
    /* background-color: green; */
    /* padding: 1em;  */
    /* padding: -1em 0em 0em 1em; */
    padding-top: -6em; 
    padding-right:  1em; 
    align-items: center; 
    justify-content: middle;


}

/* 
#alphaCardTitle{
    margin-top: 0.5em;
    margin-left: 1em; 
    font-size: large;
    font-weight: bold;
} */

.cardTitle{
    margin-top: 0.5em;
    margin-left: 1em; 
    font-size: large;
    font-weight: bold;
}

#alphaCardValue{
    font-size: 3.5em;
    margin-left: 0.5em;

}

.greenText{
    color: green
}

.yellowText{
    color: yellow
}

.greyText{
    color: grey
}


#executorGraphCardContainer{
    /* background-color: greenyellow */

    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: middle; */
    align-items: center;


}


#pieGraphContainer{
    width: 250px;
    height: 100px; 
    /* border: 1px solid black;  */
    display: flex;
    justify-content: center;
}

#executorIndexGrid{
    /* background-color: blue; */
    margin-top: 1em;
}

#executorIndexGrid{
    /* margin-left: 3.3em; */
    margin-top: 4em;
    display: grid; 
    grid-template-columns: 75px 75px;
    grid-template-rows: 20px 20px;

}

.indexKeyCell_pie{
    display: flex;
}

/* #indexKeyCell_pie01{

}
#indexKeyCell_pie02{
    
}
#indexKeyCell_pie03{
    
}
#indexKeyCell_pie04{
    
} */


.indexColor_pie{
    width: 9px; 
    height: 9px ; 
    margin-top: 0.35em;
    margin-right: 0.25em;
}




/* #deleteMe{
    Self: #49A35E;
    Joint: #F07F55 ;
    Spouse: #2979A3 ;
    Child: #48B7F0;
} */